// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.last-item-borderless .item-inner {
    border: 0 !important;
}

.aspect-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.icon-large.sc-ion-icon-h {
    font-size: 50px !important;
}

.small {
    font-size: 80%;
}